{% extends 'base.html' %}

{% block text_table_color %} text-secondary {% endblock %}


{% block content %}
<h1>Данные</h1>
<hr>
<form id="select_table_form" method="POST" action="{{url_for('table')}}">
    <select name="select_table" class="form-select" aria-label="Default select example">
        <option value="Вредные вещества" selected>Вредные вещества</option>
        <option value="Аварии">Аварии</option>
        <option value="Измерения">Измерения</option>
        <option value="Метео">Метео</option>
        <option value="Посты контроля">Посты контроля</option>
        <option value="Карты">Карты</option>
        <option value="ИЗАВ">ИЗАВ</option>
    </select>
    <button type="submit" class="btn btn-default">Go</button>
</form>
<hr>
<h1>
    {{tableName}}
    <button class="btn btn-outline-success rounded-circle p-2 lh-1" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
        </svg>
        <span class="visually-hidden">Добавить</span>
    </button>
</h1>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in tableData %}
                <tr>
                    {% for header in headers %}
                        <td>{{row[header]}}</td>
                    {% endfor %}
                    <td width="20">
                        <button class="btn btn-outline-secondary rounded-circle p-2 lh-1" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                            <span class="visually-hidden">Редактировать</span>
                        </button>
                    </td>
                    <td width="20">
                        <button class="btn btn-outline-danger rounded-circle p-2 lh-1" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                            </svg>
                            <span class="visually-hidden">Удалить</span>
                        </button>
                    </td>
                </tr>    
            {% endfor %}
            </tbody>
        </table>
    </table>
    {{error}}
</div>
{% endblock %}